### Scala template
*.class
*.log

# sbt specific
.cache
.lib/
dist/*
target/
lib_managed/
src_managed/
project


# Scala-IDE specific
.scala_dependencies
.worksheet
### SBT template
# Simple Build Tool
# http://www.scala-sbt.org/release/docs/Getting-Started/Directories.html#configuring-version-control

# Created by .ignore support plugin (hsz.mobi)
.idea/**/*.xml
src/main/java/
src/main/resources/
src/main/scala-2.11/
src/test/java/
src/test/resources/
src/test/scala-2.11/
src/main/scala/relationships/Unrelated.scala
scalamoo.iml
.idea/modules/*

.idea/copyright/
.idea/libraries/
